<h1>Create an Profession</h1>
<%= form_tag(admin_users_path) do %>
  <div>
    <%= label_tag :name %><br>
    <%= text_field_tag :name %>
  </div>
  <input>
  <datalist>
  	
  </datalist>
  <div><%= submit_tag "Submit" %></div>
<% end %>